.input_wrap {
  position: relative;
}

.menu {
  width: calc(100% + 50px);
  margin-left: -25px;
  margin-top: -16px;
}

.copy {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: none;
  background: none;
  outline: none;
  color: var(--white);
  transition: all .2s;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 0;
}

.copy:hover {
  opacity: .7;
}

.text_row {
  display: flex;
  justify-content: space-between;
}

.text_row:not(:last-of-type) {
  margin-bottom: 20px;
}

.text_row span:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
}

.text_row span:last-child {
  font-weight: 300;
  font-size: 14px;
  line-height: 12px;
  color: var(--light);
}

.page_inner {
  display: flex;
  flex-flow: column;
}

.block {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block_qr {
  background: var(--light-blue);
  border: 2px solid var(--light);
  border-radius: 12px;
  padding: 10px;
}

.block_qr img {
  display: block;
}
