.title {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 19px;
  color: var(--light);
  margin-bottom: 7px;
}

.trigger_sm .title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
}

.trigger {
  display: flex;
  align-items: center;
  min-height: 72px;
  cursor: pointer;
}

.trigger_sm {
  min-height: 46px;
}

.subTitle {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
}

.text {
  margin-left: 25px;
  flex-grow: 1;
}

.trigger_sm .text {
  margin-left: 0;
}

.icon {
  transition: all .2s;
  color: var(--light);
}

.opened {
  transform: rotate(180deg);
}

.dropdown {
  display: flex;
  flex-flow: column;
  padding: 15px 0;
  border-top: 1px solid var(--primary);
}

.dropdown_item {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--light);
}

.dropdown_item a {
  color: inherit;
  text-decoration: none;
}

.dropdown_item:not(:last-child) {
  margin-bottom: 20px;
}

.content_text {
  font-size: 12px;
  line-height: 20px;
  color: var(--light);
  padding-bottom: 15px;
}
