.input {
  display: block;
  background-color: var(--white);
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  height: 35px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  color: var(--light);
  transition: all .2s;
  outline: none;
}

.input::placeholder {
  color: var(--dark-gray);
}

.large .input {
  padding: 0 15px;
  border-radius: 4px;
  height: 40px;
}

.iconed .input {
  padding-left: 46px;
}

.iconed svg {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: var(--light);
}

.input:active,
.input:focus {
  border-color: var(--blue);
}

.input_valid {
  border-color: var(--blue);
}

.input_error {
  border-color: var(--error);
}

.inner {
  position: relative;
  width: 100%;
}

.icon_align svg {
  left: inherit;
  right: 20px;
}

.icon_align .input {
  padding-left: 20px;
  padding-right: 46px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 22px;
  color: var(--light);
  margin-bottom: 10px;
}

.title svg {
  width: 20px;
  height: 20px;
}
