.list {
  display: flex;
  flex-flow: column;
}

.box {
  padding: 0 25px;
  margin-left: -25px;
  width: calc(100% + 50px);
  border-bottom: 1px solid var(--dark-gray);
  box-sizing: border-box;
}

.box:last-child {
  border-bottom: none;
}

.inner_row {
  display: flex;
  padding: 20px 0;
  gap: 20px;
}

.inner_col {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
}

.item_index {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--light);
  margin-right: 6px;
  min-width: 20px;
}

.inner_row_once {
  padding: 20px 0;
}

.inner_row_once .item {
  margin-bottom: 5px;
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--light);
  margin-bottom: 15px;
}
