.modal {
  position: absolute;
  overflow: auto;
  outline: none;
  padding: 0 20px;
  background: var(--white);
  box-sizing: border-box;
  width: 335px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(197, 197, 197, 0.40);
  backdrop-filter: blur(2px);
  position: fixed;
  padding: 25px;
  inset: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  justify-content: space-between;
  color: var(--light);
  border-bottom: 1px solid var(--dark-gray);
  padding: 15px 0;
  margin-bottom: 25px;
}

.header svg {
  width: 41px;
  height: 41px;
}

.header_title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--light);
  padding: 25px 0 15px;
  border-bottom: 1px solid var(--dark-blue);
  margin-bottom: 25px;
}

.title_color {
  text-transform: uppercase;
  color: var(--blue);
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: var(--light);
  margin: 0 0 15px;
}

:global(.popup_link) {
  display: block;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--blue);
  margin: 0 0 25px;
  text-decoration: none;
}

/* demo */
.label {
  padding: 7px;
  color: var(--blue);
  border: 1px solid #fff;
}
