.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-gray);
  width: calc(100% + 50px);
  margin-left: -25px;
  padding: 0 25px 20px;
  box-sizing: border-box;
}

.points {
  border-radius: 4px;
  border: 1px solid var(--dark-gray);
  background: var(--white);
  width: inherit;
  margin-left: 0;
  padding: 0;
  height: 40px;
}

.inline {
  border-bottom: none;
  width: inherit;
  margin-left: 0;
}

.tooltip {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  color: var(--white);
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--light);
}

.row {
  display: flex;
  align-items: center;
}

.points .row {
  width: 100%;
  justify-content: space-between;
}

.item {
  transition: all .2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--secondary-text);
}

.item_active {
  font-weight: 500;
  color: var(--light);
}

.item:not(.item_active):hover {
  opacity: .6;
}

.item_wrap:not(:last-child) .item {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid var(--dark-gray);
}

.points .item_wrap .item {
  margin-right: 0;
  padding: 0 10px;
  height: 33px;
  border-radius: 4px;
  border-color: rgba(197, 197, 197, .2);
}

.points .item_wrap .item_active {
  background: rgba(61, 160, 227, .2);
  color: var(--blue);
  font-weight: 400;
}

.points .separator {
  display: none;
}

.points .item_wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.inline {
  height: inherit;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

.inline .row {
  gap: 18px;
}

.inline .item_wrap .item {
  padding-right: 0;
  margin-right: 0;
  border: none;
}

.inline .item {
  color: var(--dark-gray);
}

.inline .item_active {
  color: var(--blue);
}

.label {
  display: block;
  font-size: 14px;
  line-height: 19px;
}

.inline .label {
  font-weight: 500;
}

.points .label {
  font-size: 14px;
  line-height: 19px;
}

.points .item svg {
  margin-right: 10px;
}

.item_active .label {
  font-weight: 500;
}

.separator {
  width: 1px;
  height: 19px;
  background-color: var(--primary);
}

.item_wrap:last-of-type .item + .separator {
  display: none;
}
